<footer class="container-fluid row justify-content-center footer-color navbar">
    <div class="footer">
        <span class="pt-3 pb-2">
                    Copyright Sanne van Heukelum &copy;<script data-cfasync="false"
                                                               src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script>document.write(new Date().getFullYear());</script>
        </span>
    </div>
</footer>

{% for script in site.footer_scripts %}
<script src="{{script | absolute_url}}"></script>
{% endfor %}

<script>
    $(document).ready(function () {
        $('#lightgallery').lightGallery();
    });
</script>