<div class="container-fluid">


    <div class="site-mobile-menu">
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-3 m-0" role="banner">
        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col-6 col-xl-2" data-aos="fade-down">
                    <h1 class="mb-0"><a href="/index" class="text-black h2 mb-0">Shine Bright Fotografie</a></h1>
                </div>
                <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
                    <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

                        <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                            <li {% if page.url == '/' %}class="active" {% endif %}><a href="/">Home</a></li>
                            <li {% if page.url == '/about/' %}class="active" {% endif %}><a href="/about">Over mij</a></li>
                            <li {% if page.url == '/bruiloften/' %}class="active" {% endif %}><a href="/bruiloften">Bruiloften</a></li>
                            <li {% if page.url == '/familie/' %}class="active" {% endif %}><a href="/familie">Familie</a></li>
                            <li {% if page.url == '/newborn/' %}class="active" {% endif %}><a href="/newborn">Baby/Zwanger</a></li>
                            <li {% if page.url == '/contact/' %}class="active" {% endif %}><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
                    <div class="d-none d-xl-inline-block">
                        <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0"
                            data-class="social">
                            <li>
                                <a href="https://www.facebook.com/shinebrightfotografie/" target="_blank"
                                   class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/shinebrightfotografie/" target="_blank"
                                   class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a
                            href="#" class="site-menu-toggle js-menu-toggle text-black"><span
                            class="icon-menu h3"></span></a></div>

                </div>

            </div>
        </div>
    </header>
</div>