---
layout: default
---
{% if page.header_img %}
<div class="container-fluid p-0">
    <div class="justify-content-center">
        <div><img class="img-fluid rounded" src="{{page.header_img | absolute_url}}" alt="..."/>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-white text-center rounded">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<!-- 3 Small images with link to portfolio -->
<div class="container justify-content-center">
    <div class="row mb-3">
        {% for img in page.overview_images %}
        <div class="col-6 col-md-4 {% if forloop.index == 3 %} d-none d-md-block {% endif %}">
            <img src="{{img | absolute_url}}" class="w-100">
        </div>
        {% endfor %}
    </div>
    <div class="row pb-2">
        <div class="mx-auto">
            <a class="btn btn-primary btn-xl" href="portfolio">
                Portfolio
            </a>
        </div>
    </div>
</div>

<!-- Review -->
{% if page.review_text %}
<div class="container pt-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 ml-auto bg-faded-secondary rounded p-3 mb-2 overlap-right">
            <h3>{{page.review_title}}</h3>
            <p>
                {{page.review_text}}
            </p>
        </div>
        <div class="col-lg-6 p-0 overlap-left">
            <img src="{{page.review_img | absolute_url}}"
                 alt="Persoonlijke christelijke bruidsfotograaf" class="w-100">
        </div>
    </div>
</div>
{% endif %}


<!-- Call to Action -->
<section class="page-section clearfix">
    <div class="container">
        <div class="mid">
            <img class="mid-img img-fluid mb-3 mb-lg-0 rounded" src="{{page.call_to_action_img | absolute_url}}"
                 alt="..."/>
            <div class="mid-text right-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Tarieven</span>
                </h2>
                <p class="mb-3" style="padding-bottom:50px">
                    {{page.call_to_action_text}}
                </p>
                <div class="mid-button mx-auto"><a class="btn btn-primary btn-xl" href="{{'contact' | absolute_url}}">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>